*{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto; 

}
header{
    padding-top: 44px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-input{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    height: 40px;
    width:690px;

    font-size: 16px;
    line-height: 24px;
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    background-position: left 11px center;
    padding-left: 32px;
}

.buttons{
    display: flex;
    align-items: center;
}
.button{
    display: flex;
    align-items: center;

    padding: 8px  16px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}

.button-primary{
    background: #1890FF;
    border: 1px solid #1890FF;  
    color: white;
    margin-right: 10px;
}

.button-icon{
  margin-right: 6px; 
}

.promo{
    filter: drop-shadow(0px 7px 12px rgba(158, 158, 163, 0.1));
    width: 100%;
    height: 300px;

    background: #FFF1B8 url(../img/promo.png) no-repeat top right;

    border-radius: 10px;


    margin-top: 20px;
    padding: 71px 68px;
}

.promo-offer{
    width : 539px;
    color: #302C34;
}

.promo-offer-header{
    font-size: 39px;
    line-height: 46px;
    font-weight: bold;
}

.promo-offer-text{
    margin-top: 15px;
    font-size: 24px;
    line-height: 28px;
}

.restaurants{
    margin-top: 56px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    margin-top: 30px;
    width:  384px;
    height: 380px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.card-image{
    height: 250px;
    border-radius: 7px 7px 0px 0px;
}
.card-title{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px 10px 24px;
}
.card-title-text{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    vertical-align: middle;
}
.card-title-time{
    width: 55px;
    height: 22px;
    color : white;
    background: #262626;
    border-radius: 2px;

    font-size: 12px;
    line-height: 20px;
    padding: 1px 8px;
}

.card-info{

    height: 32px;
    display: flex;

    font-size: 18px;    
    font-family: Roboto;
    font-weight: bold;
    line-height: 32px;

    padding-left: 24px;
}
.card-info-raiting{
    width: 48px;
    color: #FFC107;
}

.card-info-price{
    width: 153px;
    margin-left: 26px;
    color: #8C8C8C;
}
.content{
    background-color: #f5f5f5;
    padding-top: 88.65px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

